<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <default-target-parameters xsi:type="File" keepFileOpen="true" encoding="UTF-8" />
        <target name="logfile-dev" 
                xsi:type="File" 
                fileName="${basedir}/log/dmt-partition-dev.log" />
        <target name="console" xsi:type="Console"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile-dev,console" />
    </rules>
</nlog>
<!-- TODO: move to application project -->