<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile-dev" 
                xsi:type="File" 
                fileName="${basedir}/log/dmt-partition-dev.log" 
                encoding="UTF-8" 
                keepFileOpen="true"/>
        <target name="logfile-prod"
                xsi:type="File"
                fileName="${basedir}/log/dmt-partition-prod.log"
                encoding="UTF-8"
                keepFileOpen="true"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile-dev" />
        <logger name="*" minlevel="Info" writeTo="logfile-prod" />
    </rules>
</nlog>