<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.net>
        <defaultProxy enabled="false" />
    </system.net>
    <appSettings>
        <add key="default" value="./Defaults"/>
        <add key="plugin" value="./Plugins"/>
        <!--<add key="strategy" value="local"/>-->
        <add key="strategy" value="proxy"/>
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="./Defaults;./Plugins"/>
        </assemblyBinding>
    </runtime>
</configuration>